/* основной цвет текста - #212121 */
/* вторичный цвет текста - #757575 */
/* основной цвет фона - #FFFFFF */
/* акцент - #2196F3 */
/* прозрачно белый rgba(255, 255, 255, 0.6) */
/* основной цыет фона - #E5E5E5 */
/* вторичный цвет фона -#F5F4FA */
/* вторичный белый #e5e5e5  */

:root {
  --header-background-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
}
.list {
  list-style: none;
}

body {
  background-color: #ffffff;
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

ul {
  list-style: none;
}
.another {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.both {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-mail {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--primary-text-color);
}
.contacts-phone {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-phone:hover,
.contacts-phone:focus {
  color: var(--accent-color);
}

.header {
  color: var(--header-background-color);
  background-color: var(--secondary-background-color);
}
.features .title {
  color: var(--primary-text-color);
}
.same {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.button {
  background-color: var(--accent-color);
  color: var(--header-background-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.background-main {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-primary {
  background-color: var(--accent-color);
  color: var(--header-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.unique-content {
  background-color: var(--primary-background-color);
}
.title-main {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.main-text {
  background-color: var(--primary-background-color);
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.list-section {
  background-color: var(--primary-background-color);
}
.list-team {
  background-color: var(--third-background-color);
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14s;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.unique {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--third-background-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.position {
  background-color: var(--third-background-color);
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.footer {
  background-color: var(--primary-text-color);
}
.adress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--header-background-color);
}
.contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
